.heading {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  letter-spacing: 2px;
  font-style: italic;
font-family: cursive;
}
.subheading {
  font-size: 48px;

  text-align: center;
  padding-top: 30px;
  letter-spacing: 2px;
  font-style: italic;
font-family:Arial, Helvetica, sans-serif;
margin-top: 30px;
}
.container{
margin-top: 40px;
text-align: center;
}

.body{
  background-image: url('C:\Users\PiyushKumar.Upadhyay\Desktop\Angular-Blog-Assignment\src\assets\sky.jpg');
   height:93vh;
overflow-y: auto;
overflow-x: hidden;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
td{
padding-top: 15px;
font-size: 20px;
}
.button{
margin-left: 10px;
margin-right: 10px;
border-radius: 6px;
background-color:blueviolet;

}
.button1{
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 6px;
background-color: palevioletred;
  }
  .button2{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 6px;
    background-color:lightblue;
    }
