<div class="body">
<h1 class="title">Your Blog</h1>
<div class="container">
<form [formGroup]="viewform">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" placeholder="Enter the Title" formControlName="title" readonly>
    <!-- <span class="valid1" *ngIf="title && title.invalid && title.touched">Required</span> -->

    <label for="title">Author:</label>
    <input type="text" id="author" name="author" placeholder="Enter the author name" formControlName="author" readonly>

    <label for="description">Description:</label>
    <textarea id="description" name="description" placeholder="Enter the Description" formControlName="description" readonly></textarea >
<div>
  <!-- <span id="valid" class="valid" *ngIf="description && description.invalid && description.touched" >Too short... Enter atleast 150 character </span> -->
    <button (click)="back()">Cancel</button>
  </div>
  </form>
</div>
</div>
