
  <div class="body"><h1 class="title">Edit Your Blog</h1>
  <div class="container">
  <form [formGroup]="editform">

      <label for="title">Title:</label>
      <input type="text" id="title" name="title" placeholder="Enter the Title" formControlName="title">
      <span class="valid1" *ngIf="title && title.invalid && title.touched">Required</span>

      <label for="title">Author:</label>
      <input type="text" id="author" name="author" placeholder="Enter the author name" formControlName="author">

      <label for="description">Description:</label>
      <textarea id="description" name="description" placeholder="Enter the Description" formControlName="description"></textarea>
  <div>
    <!-- <span id="valid" class="valid" *ngIf="description && description.invalid && description.touched" >Too short... Enter atleast 150 character </span> -->
      <button class="back" (click)="back()">Back</button>
      <button class="edit" (click)="Edit()">Edit</button>
    </div>
    </form>
  </div>
</div>


